<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writer's Ladder</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://api.fontshare.com/v2/css?f[]=zodiak@300,400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main">
        <h1>Writer's Ladder</h1>
    </div>
    <div class="form">
        <form action="/pesquisar" id="pesquisar" method="post">
            <input type="text" name="palavra" class="barra-pesquisa" placeholder="Any word that you want.." autocomplete="off">
            <button type="submit" class="botao-pesquisar">Pesquisar</button>
            <select class="drop-down" name="type">
                <option value="synonym" <%= locals.selecionado === "synonym" ? "selected" : "" %>>Synonyms</option>
                <option value="meaning" <%= locals.selecionado === "meaning" ? "selected" : "" %>>Meanings</option>
            </select>
        </form>
    </div>
    
    <div class="div-da-lista">
        <div class="lista">
            <% if (locals.erro) { %>
                <h2 style="color: var(--accent-color);"><%= erro %></h2>
                <p style="color: var(--text-main);">Check the spelling or try a different word.</p>
                
            <% } else if (locals.sinonimos) { %>
                <h2>Synonyms</h2>
                <ul class="lista-sinonimos">
                    <% sinonimos.forEach((sinonimo, index) => { %>
                        <li class="sinonimo" style="animation-delay: <%= index * 0.1 %>s;">
                            <%= sinonimo %>
                        </li>
                    <% }) %>
                </ul>
            <% } else if (locals.significados) { %>
                <h2>Meanings for the word <i><%=palavraPesquisada %></i></h2>
                <% significados.forEach((significado, index) =>{ %>
                    <p class="texto-significado" style="animation-delay: <%= index * 0.2 %>s;">
                        <%= significado.definition %>
                        <span class="exemplos">"<%= significado.examples %>"</span>
                    </p>    
                <% }) %>
            <% } else { %>
                <h2 class="waiting">Waiting for search...</h2>
            <% } %>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>